@model IEnumerable<BMStorage.Models.Unit>

@{
    ViewData["Title"] = "Index";
}

<h1>Units</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.UnitID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType.UnitTypeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
